// src/css/quasar.variables.scss

$primary   : #00b4b4;
$secondary : #999999;
$accent    : #9C27B0;

$dark      : #1a1f26;
$dark-page : #1a1f26;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;